@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4 {
    font-family: "Roboto", Arial, Helvetica;
}

p, a{
    font-family: "Open Sans", Arial, Helvetica;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-image{
    width: 100%;
    margin-top: -100px;



}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #005ba1;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: large;
    font-weight: bold;
    padding: 35px;
    background-color: rgb(224, 229, 242);
}
nav a:hover {
    color: #02070a;
}

#hero-msg{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1{
    color: white;
    font-family: "Roboto", Arial, Helvetica;;
    text-align: center;
}



#hero-msg h4 {
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica;
    color: white;
}
.button-box{
    text-align: center;
  
}

#background{
    height: 725px;
    background-color: #2f85bd;
    grid-column: 1/11;
    grid-row: 4/9;
}

body
{
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

.hero {
    display: grid;
}

.section-1 {
    display: grid;
}

header{
    background-color: rgb(224, 229, 242);
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.9;

}

.book, .join {
    background-color: #2f85bd;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 40px;
    margin: 0 auto;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;
}

.book:hover, .join:hover{
    background-color: white;
    color: #005ba1;
}

.msg 
{
    background-color: white;
    font-family: "Open Sans", Arial, Helvetica;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}

footer{
    background-color: #005ba1;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer a{
    background-color: #005ba1;
    color: white;
    text-decoration: none;
    font-family: "Open Sans", Arial, Helvetica;
}
footer a:hover{
    background-color: #005ba1;
    color: rgb(200, 209, 238); 
    text-decoration: underline;
}

footer p 
{
    font-size: 1.2em;
    font-family: "Open Sans", Arial, Helvetica;
}

.home-title
{
    color: white;
    font-family: "Roboto", Arial, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #2f85bd;
    font-family: "Roboto", Arial, Helvetica;
}

.msg h2{
    color: #005ba1;
    text-align: center;
    font-family: "Roboto", Arial, Helvetica;
    margin: 0;
}

.msg p{
    color: #005ba1;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: .8em;
    padding-bottom: 15px;
}

.icon 
{
    width: 80px;
    padding-top: 10px;
}

#logo_link img {
    max-width: 230px;
}

#logo_link
{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    max-width: 100px;
    max-height: 100px;
}
.card-img
{
    border: 10px solid #005ba1;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2f85bd;
}

.card-img:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
.card-img, .montains{
    width: 100%;
}

.montains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 5px #005ba1;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3 ;
}

.rivers-card, .camping-card, .rapids-card, .montains{
    margin: 200px 0;
}

main section
{
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main section img {
    box-sizing: border-box;
}

#hero-box
{
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/3;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            